name: Auto Assign Issues

on:
  issues:
    types: [opened]

jobs:
  auto-assign:
    runs-on: ubuntu-latest
    permissions:
      issues: write

    steps:
      - name: Assign issue to users
      uses: actions-ecosystem/action-add-assignees@v1
        with:
          assignees: |
            d4mianwayne
            ghostbyt3
